
*.pyc
cluwu1.0/__pycache__/clientGame.cpython-38.pyc
cluwu1.0/__pycache__/clientGame.cpython-38.pyc
cluwu1.0/__pycache__/gameBoard.cpython-38.pyc
cluwu1.0/__pycache__/notebook.cpython-38.pyc
cluwu1.0/__pycache__/TextBox.cpython-38.pyc
